.buttonBase {
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttonLight {
    background-color: #d7c9b1;
    color: #2e1d27;
    border-color: #2e1d27;
}

.buttonLight:hover {
    background-color: #cbbda5;
    color: #000;
}

.buttonDark {
    background-color: #2e1d27;
    color: #f3efe6;
    border-color: #f3efe6;
}

.buttonDark:hover {
    background-color: #4a2f3a;
    color: #fff;
}