.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colors__accent);
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin: 1rem 0 2rem 0;
    flex-wrap: wrap;
    gap: 1rem;
}

.titel {
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    color: var(--colors__white);
    margin: 0;
}

.dropdownWrapper {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.dropdownLabel {
    font-size: 16px;
    margin-bottom: 8px;
    color: #fff;
}

.dropdownSelect {
    padding: 10px 12px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    background-color: #2c2c2c;
    color: #fff;
    appearance: none;
    cursor: pointer;
    box-shadow: 0 0 0 2px #f2c94c;
}

.dropdownSelect:focus {
    outline: none;
    box-shadow: 0 0 0 2px #f39c12;
}